@font-face {
    font-family: "iconfont"; /* Project id 2991050 */
    src: url('//at.alicdn.com/t/font_2991050_l5vpzwfxks.woff2?t=1638784092116') format('woff2'),
         url('//at.alicdn.com/t/font_2991050_l5vpzwfxks.woff?t=1638784092116') format('woff'),
         url('//at.alicdn.com/t/font_2991050_l5vpzwfxks.ttf?t=1638784092116') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-idaas-xinzeng:before {
    content: "\e60f";
  }
  
  .icon-idaas-edit:before {
    content: "\e600";
  }
  
  .icon-idaas-user:before {
    content: "\e8c8";
  }
  
  .icon-idaas-add:before {
    content: "\e621";
  }
  
  .icon-idaas-app:before {
    content: "\eb8f";
  }
  
  .icon-idaas-password:before {
    content: "\e718";
  }
  
  .icon-idaas-merchant:before {
    content: "\e670";
  }
  